<div class="row">
	<div class="col-lg-6 col-md-6 mb-5">
		<div class="blog-item-content">
			<img src="images/blog/blog_1.jpg" alt="" class="img-fluid">

			<div class="blog-item-content-content mt-3">
				<span class="text-sm text-color text-uppercase font-weight-bold">January 3, 2019</span>

				<h3 class="mb-3"><a href="blog-single.html">Save The Child For New World</a></h3>
				<p class="mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main rounded">Learn More</a>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 mb-5">
		<div class="blog-item-content-content">
			<img src="images/blog/blog_2.jpg" alt="" class="img-fluid">

			<div class="blog-item-content-content mt-3">
				<span class="text-sm text-color text-uppercase font-weight-bold">January 3, 2019</span>   

				<h3 class="mb-3"><a href="blog-single.html">Shelter For Homeless Child</a></h3>
				<p class="mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main rounded">Learn More</a>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 mb-5">
		<div class="blog-item-content">
			<img src="images/blog/blog_3.jpg" alt="" class="img-fluid">

			<div class="blog-item-content-content mt-3">
				<span class="text-sm text-color text-uppercase font-weight-bold">January 3, 2019</span>

				<h3 class="mb-3"><a href="blog-single.html">Pure Water Is More Essential</a></h3>
				<p class="mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main rounded">Learn More</a>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 mb-5">
		<div class="blog-item-content">
			<img src="images/blog/blog_5.jpg" alt="" class="img-fluid">

			<div class="blog-item-content-content mt-3">
				<span class="text-sm text-color text-uppercase font-weight-bold">January 3, 2019</span>  

				<h3 class="mb-3"><a href="blog-single.html">Medicine For Poor Children</a></h3>
				<p class="mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main rounded">Learn More</a>
			</div>
		</div>
	</div>
</div>