<!-- section Counter Start -->
<section class="section counter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<i class="icofont-money"></i>
					<h3 class="mb-0"><span class="counter-stat font-weight-bold">68520</span> +</h3>
					<p>Received Donations</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<i class="icofont-users"></i>
					<h3 class="mb-0"><span class="counter-stat font-weight-bold">8520</span></h3>
					<p>Our Volunteers</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<i class="icofont-like"></i>
					<h3 class="mb-0"><span class="counter-stat font-weight-bold">78520</span></h3>
					<p>Projects Done</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center">
					<i class="icofont-award"></i>
					<h3 class="mb-0"><span class="counter-stat font-weight-bold">14</span></h3>
					<p>Award Winner </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section Counter End  -->