<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="footer-widget widget">
					<h4 class="text-capitalize mb-4 text-white">Company</h4>
					<p>Flat 20, Reynolds Neck, North <br>Helenaville, FV77</p>

					<ul class="list-unstyled footer-menu mt-4">
						<li><a href="#"><i class="icofont-phone"></i>+2(305) 587-3407</a></li>
						<li><a href="#"><i class="icofont-email"></i>info@example.com</a></li>
					</ul>
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget footer-widget">
					<h4 class="text-capitalize mb-4 text-white">Quick Links</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="footer-widget widget">
					<h4 class="text-capitalize mb-4 text-white">Subscribe Us</h4>
					<p class="mb-4">Subscribe to get latest news article and resources  </p>

					<form action="#" class="sub-form">
						<input type="text" class="form-control mb-4" placeholder="Subscribe Now ...">
						<a href="#" class="btn btn-main btn-small rounded">subscribe</a>
					</form>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget footer-widget">
					<h4 class="text-capitalize mb-4 text-white">Gallery</h4>

					<div class="gallery-wrap">
						<div class="gallery-img">
							<img src="images/blog/gallery-1.jpg" alt="" class="img-fluid">
						</div>
						<div class="gallery-img">
							<img src="images/blog/gallery-2.jpg" alt="" class="img-fluid">
						</div>
						<div class="gallery-img">
							<img src="images/blog/gallery-3.jpg" alt="" class="img-fluid">
						</div>
						<div class="gallery-img">
							<img src="images/blog/gallery-6.jpg" alt="" class="img-fluid">
						</div>
						<div class="gallery-img">
							<img src="images/blog/gallery-5.jpg" alt="" class="img-fluid">
						</div>
						<div class="gallery-img">
							<img src="images/blog/gallery-2.jpg" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="copyright text-center">
						&copy; Copyright Reserved to WishFund by <a href="https://themefisher.com/" target="_blank" class="text-color">Themefisher</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>