<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-9 col-md-10">
				<div class="block text-center">
					<span class="d-block mb-3 text-white text-capitalize">Small help can make change</span>
					<h1 class="animated fadeInUp mb-4">New hope for <br>near future</h1>
					<p class="mb-4">Your small contribution means a lot. Natus officia amet hic  <br>accusamus repellat magni reprehenderit dolorem.</p>
					<a href="#" target="_blank" class="btn btn-main animated fadeInUp rounded">Donate Now</a>
				</div>
			</div>
		</div>
	</div>
</section>