<section class="section video">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<div class="video-content  mb-5 mb-lg-0">
					<h2 class="mt-3 mb-5 position-relative text-lg text-white">We Make a Difference <br>in their Life</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="video-block">
					<div class="img-block">
						<img src="images/bg/bg-3.jpg" alt="" class="img-fluid">
					</div>
					<a data-video-id="sXoKSD8QJEA" class="videoplay">
						<i class="icofont-ui-play"></i> 
					</a>
				</div>
			</div>
		</div>

		<div class="counter-section">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-item-2 mb-5 mb-lg-0 pt-5">
						<span class="counter-stat  text-color">18</span>
						<p>Years of Experience</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-item-2 mb-5 mb-lg-0 pt-5">
						<span class="counter-stat font-weight-bold text-color">1,460</span>
						<p>Active Volunteer</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-item-2 mb-5 mb-lg-0 pt-5">
						<span class="counter-stat  text-color">92</span>
						<p>Availble Country</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat text-color">54</span>
						<p >Million People Helped</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>