<div class="volunteer section ">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 col-sm-12">
				<div class="volunteer-content">
					<img src="images/bg/image-5.jpg" alt="" class="img-fluid">
					<h2 class="text-lg mb-5 mt-3">We can’t help everyone, but everyone can help someone</h2>
					<p>Assumenda reiciendis delectus dolore incidunt molestias omnis quo quaerat voluptate, eligendi perspiciatis ipsa laudantium nesciunt officia, odit nemo quidem hic itaque. Fugiat.</p>

					<h2 class="mt-5 mb-4">Trusted worldwide partner</h2>
					<div class="clients-wrap">
						<a href="#">
							<img src="images/clients/client1.png" alt="" class="img-fluid">
						</a>
						<a href="#">
							<img src="images/clients/client2.png" alt="" class="img-fluid">
						</a>
						<a href="#">
							<img src="images/clients/client4.png" alt="" class="img-fluid">
						</a>
						<a href="#">
							<img src="images/clients/client5.png" alt="" class="img-fluid">
						</a>
						<a href="#">
							<img src="images/clients/client6.png" alt="" class="img-fluid">
						</a>
					</div>
				</div>
			</div>

			<div class="col-lg-5 col-md-12 col-sm-12">
				<div class="volunteer-form-wrap">
					<span class="text-white">Join With us</span>
					<h2 class="mb-5 text-lg text-white">Become A Volunteer</h2>
					<form action="#" class="volunteer-form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Full Name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Emaill Address">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Phone Number">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Adress ">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Occupation">
						</div>
						<div class="form-group">
							<textarea name="#" id="#" cols="30" rows="6" class="form-control" placeholder="Your Message"></textarea>
						</div>

						<a href="#" class="btn btn-main rounded mt-3">Send Message</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
